In [ ]:
tupleeeeeeee

In [2]:
# Question 1: Create a tuple of first 10 natural numbers
a=tuple(range(1,11))
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
len(a)

10

In [9]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
a= ('a', 'b', 'c', 'd', 'e')
b=a[2]

In [10]:
b

'c'

In [11]:
# Question 4: Find the maximum value in tuple # Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

a= (23, 45, 12, 67, 34, 89, 56)
b=max(a)

In [12]:
b

89

In [16]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
count_num=(1, 5, 2, 5, 3, 5, 4, 5, 6)
b=count_num.count(5)

In [17]:
b

4

In [19]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
mixed_tuple=(89,89.443,"kumar",True)

In [20]:
mixed_tuple

(89, 89.443, 'kumar', True)

In [21]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
x=('java', 'python', 'c++', 'javascript')
a=x.index('python')

In [22]:
a

1

In [29]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
z=(10, 20, 30, 40, 50)
found= False
for i in z:
   if i==25:
      found= True

In [30]:
print(found)

False

In [31]:
# Question 9: Create a tuple of first 5 even numbers

a=tuple(range(2,12,2))

In [32]:
print(a)

(2, 4, 6, 8, 10)

In [3]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
x=(15, 23, 31, 42, 56, 78)
b=len(x)
c=sum(x)

In [4]:
avg_tup=sum(x)/len(x)

In [5]:
avg_tup

40.833333333333336