In [6]:
b=[]
for i in range(1,11):
   b.append(i**2)
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=0
for i in x:
    if i%2==0:
       b+=i
print(b)

30

In [13]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
a=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
b=[]
for i in a:
   if i  not in b:
      b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7]

In [19]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

a=[64, 34, 25, 12, 22, 11, 90]
a.sort (reverse=True)
print(a)

[90, 64, 34, 25, 22, 12, 11]

In [ ]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
x=[15, 23, 31, 42, 56, 78, 91]
a=sum(x)
b=len(x)
##c=a/b
print(a)

336

In [21]:
print(b)

7

In [23]:
print(f"the avg of x {a/b}")

the avg of x 48.0

In [25]:
# Question 6: Create a list of first 15 Fibonacci numbers
a=0
b=1
count=15
fibonacci_num=[]
for i in range(count):
    fibonacci_num.append(a)
    a,b=b,a+b
print(fibonacci_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [33]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
z= [45, 67, 23, 89, 12, 34, 78]
z.sort(reverse= True)
y=z[1]
print(f"the second largest is{y} ")

the second largest is78

In [36]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

x= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x.reverse()
print(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
z=[1, 5, 2, 5, 3, 5, 4, 5, 6]
y=z.count(5)
print(y)

4

In [ ]:
# Question 10: Create a list of prime numbers between 1 and 50
def is_prime(num):
    # 1 is not prime
    if num <= 1:
        return False
    # check divisibility up to sqrt(num)
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

primes = [x for x in range(2, 51) if is_prime(x)]
print(primes)

3

In [40]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list=[item for list in nested_list for item in list]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
a=[1, 2, 3, 4, 5]
b=[4, 5, 6, 7, 8]
common = list(set (a)&  set (b))
print(common)

[4, 5]

In [100]:
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
a=[[1, 2], [3, 4], [5, 6]]

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

In [61]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
a=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

sum_list=  [sum(i) for i in a]

In [62]:
print(sum_list)

[6, 15, 24]

In [75]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
z=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
y=[list(row) for rows in zip(*z)]

NameError: name 'row' is not defined

In [79]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
l=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
z=[max(i) for i in l ]

In [80]:
z

[5, 9, 8]

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [98]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
l=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
x=sum([num for i in l for subs_1 in i for num in subs_1 ])

In [115]:
x=[1,2,3,4,5,]
y=map(lamba z:x%2==0)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3186425990.py, line 2)

In [ ]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nested_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
x=[]
for i in nested_list :
    for y in i:
        if y%2==0:
            x.append(y)
print(x)

[2, 4, 6, 8]

In [118]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
a=[1, "hello", 3.14, True, [1, 2, 3]]

In [119]:
[1, "hello", 3.14, True, [1, 2, 3]]

[1, 'hello', 3.14, True, [1, 2, 3]]

In [123]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
a=["apple", "banana", "cherry", "date"]
length=[len (i) for i in a]

In [124]:
length

[5, 6, 6, 4]

In [126]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
a=[(1, 'a'), (2, 'b'), (3, 'c')]
my_tuple= tuple(a)

In [127]:
my_tuple

((1, 'a'), (2, 'b'), (3, 'c'))

In [135]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
a=[(1, 'a'), (2, 'b'), (3, 'c')]
b= tuple(a)
for i in b:
    print(i[0])

1
2
3

In [136]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
a=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(a)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [142]:
# Question 25: Extract all 'name' values from list of dictionaries
a=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
b=[i["name"] for i in a]

In [143]:
b

['Alice', 'Bob']

In [ ]:
# Question 26: Find the person with maximum age in list of dictionaries
l=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
oldest_age= max( l, key = lambda x:x["age"])

In [154]:
oldest_age

{'name': 'Bob', 'age': 30}

In [155]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
a=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print(a)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [159]:
# Question 28: Find the maximum value in 4D list [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
a=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
max_num=[]
for block3d in a:
    for block2d in block3d:
        for block1d in block2d:
            for num in block1d:
                if num > max_num:
                    max_num = num

TypeError: '>' not supported between instances of 'int' and 'list'

In [160]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
a=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [161]:
a

[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [165]:
# Question 30: Find the union of all sets in list of sets
a=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
union_set=set()
for i in a:
   union_set=union_set.union(i)

In [166]:
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}